{
    # SSL On-demand per domini personalizzati e sottodomini creator automatici (*.zerostack.it)
    on_demand_tls {
        ask http://web:3000/api/domains/check
    }
}

# Dominio principale di sviluppo / produzione e alias www
{$APP_DOMAIN:zerostack.it}, www.{$APP_DOMAIN:zerostack.it} {
    encode gzip zstd
    reverse_proxy web:3000
}

# Gestione dinamica HTTPS con certificati automatici per tutti i sottodomini e CNAME
:443 {
    tls {
        on_demand
    }
    encode gzip zstd
    reverse_proxy web:3000
}
